openapi: 3.2.0
info:
  title: Cognism Redeem API
  version: '2026-08-13'
  summary: Search, enrich and redeem B2B contact and company data from the Cognism database.
  description: 'The Cognism API is used to search, preview and enrich Contacts and Accounts.


    It is composed of three services that are used together:


    - **Search API** - find contacts or companies matching a filter set. Returns preview records, each carrying a `redeemId`.

    - **Enrich API** - find the best matching Cognism record for a contact or company you already hold. Returns a preview, a `matchScore` and a `redeemId`.

    - **Redeem API** - exchange a `redeemId` for the full record.


    Search and Enrich return preview data only and do not consume Credits. Credits are consumed when a contact is redeemed for the first time; account redemptions and repeat contact redemptions are free.


    The fields a Redeem response carries are governed by your organisation API Entitlements, configured by Cognism. Query the Entitlement API to read them.


    API access is sales-gated: it must be enabled on your subscription, entitlements configured by the Cognism Provisioning team, and an API token generated in the Cognism app under Settings > Tokens and API.


    _Derived by API Evangelist from the Cognism API Postman collection published by Cognism at https://developers.cognism.com/ . Not an official Cognism artifact._'
  contact:
    name: Cognism
    url: https://www.cognism.com/contact
  termsOfService: https://www.cognism.com/terms-of-website-use
  x-source: https://documenter.gw.postman.com/api/collections/14862827/UVJhBu4C
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-on: '2026-08-13'
servers:
- url: https://app.cognism.com
  description: Production. Value of the `baseUrl` variable in the Production environment published with the Cognism API Postman collection.
security:
- bearerAuth: []
tags:
- name: Redeem
  description: Exchange a redeem ID for the full record.
paths:
  /api/search/contact/redeem:
    post:
      operationId: redeemContacts
      summary: Redeem contacts by redeem ID
      description: Retrieve full contact records for up to 20 redeem IDs returned by the Search or Enrich API. Redeeming a contact for the first time CONSUMES CREDITS; re-redeeming the same contact does not. Only fields inside your API Entitlement are returned.
      tags:
      - Redeem
      parameters:
      - name: mergePhonesAndLocations
        in: query
        required: false
        description: Merge phone numbers and locations into consolidated arrays.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemRequest'
            examples:
              singleRedeemId:
                summary: Redeem Contacts by IDs (collection example)
                value:
                  redeemIds:
                  - YmVkOWMxZDItYjgwNi0zN2I2LTk2MzItNzVlZjk5MWE0ODdhOzFjNmY4MDg2LTAzNjktMzIyMi1hMjU3LWI1ZmQxZDVlNTc3NTsyZjdjZDBmMC01NWM2LTNlMWEtYjliNi0xZTU1MDQ3ZmFmY2Y=
      responses:
        '200':
          description: Full contact records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRedeemResponse'
              examples:
                RedeemContactAdvancedEntitlement:
                  summary: Redeem Contact Advanced Entitlement
                  value:
                    totalResults: 1
                    results:
                    - account:
                        name: Cognism
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        officePhoneNumbers:
                        - number: '+16469719264'
                          numberType: FIXED_LINE_OR_MOBILE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        - number: '+442038580822'
                          numberType: FIXED_LINE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        hiringEvent:
                        - country: Germany
                          jobTitle: Campaign Managers
                          employer: Cognism
                          url: https://apply.workable.com/cognism-ltd/j/588BCA3EEE/
                          type: CompanyHiring
                          jobDate: '2023-09-05'
                        headcount: 500
                        sizeTo: 1000
                        sizeFrom: 501
                        location:
                        - addressType: office
                          country: Croatia
                          state: Zadarska
                          city: Zadar
                          street: 16 Put Murvice
                        - addressType: office
                          country: Germany
                          state: North Rhine-westphalia
                          city: Köln
                          street: 4 Friesenplatz Friesenpl.
                        - addressType: office
                          country: United States
                          state: New York
                          city: New York City
                          street: 43 W 23rd St
                        - addressType: office
                          country: Republic of North Macedonia
                          state: Karpoš
                          city: Skopje
                          street: Orce Nikolov Br.146 B
                        - addressType: hq
                          country: United Kingdom
                          state: England
                          city: London
                          street: 92 Albert Embankment
                        - addressType: office
                          country: United States
                          state: Massachusetts
                        - addressType: office
                          country: United Kingdom
                          state: England
                          city: London
                          zip: se1 6dp
                        technologies:
                        - git
                        - Vue.js
                        - Atlassian Jira
                        - Bing Ads
                        - C++
                        - Webpack
                        - C#
                        - Linkedin
                        - Piwik
                        - Modernizr
                        - Twitter Ads
                        - JavaScript
                        - PHP
                        - Unpkg
                        - Typekit
                        - Bootstrap
                        - Microsoft Azure
                        - Babel
                        - G Suite
                        - Python
                        - Cowboy
                        - Preact
                        - Meddicc
                        - cdnjs
                        - Trustpilot
                        - Sieben
                        - WordPress
                        - Google
                        - Docker
                        - Mailtastic
                        - Salesloft
                        - TypeScript
                        - CookieFirst
                        - RSS
                        - Hotjar
                        - Netsuite
                        - Optimise
                        - JSS
                        - Google Font API
                        - Linux
                        - Capterra
                        - AppNexus
                        - Moment.js
                        - AngularJS
                        - Cognism
                        - Facebook
                        - Facebook Pixel
                        - jsDelivr
                        - Open Graph
                        - Erlang
                        - Twitter Emoji (Twemoji)
                        - Intercom
                        - Linkedin Sign-in
                        - Reddit Ads
                        - Pardot
                        - Microsoft Advertising
                        - .NET
                        - React
                        - Envoy
                        - Twitter
                        - Exhibit
                        - Microsoft Excel
                        - Java
                        - Apache Spark
                        - CloudFlare
                        - Salesforce
                        - Captivate.fm
                        - Google Ads
                        - TrackJs
                        - Ahrefs
                        - Yoast SEO
                        - MediaElement.js
                        - Font Awesome
                        - Google Tag Manager
                        - RequireJS
                        - YUI
                        - Zendesk
                        - Salesforce Marketing Cloud Account Engagement
                        - Apache
                        - Kubernetes
                        - Hubspot
                        - Google Analytics
                        - jQuery
                        - Google Optimize
                        - Cloudflare Bot Management
                        - Node.js
                        - Microsoft
                        - PostgreSQL
                        - jQuery Modal
                        - Google Maps
                        - Gravatar
                        - jQuery CDN
                        - HSTS
                        - Slick
                        - Squarespace
                        - Google Docs
                        - HubSpot Analytics
                        - Scala
                        - LinkedIn Ads
                        - Angular
                        - Zoom
                        - Github
                        - Linkedin Insight Tag
                        - MongoDB
                        - MySQL
                        - YouTube
                        - NoSQL
                        - HubSpot CMS Hub
                        - Qualified
                        - HTTP/3
                        - Bitbucket
                        - Lessonly
                        - Akita
                        - Slack
                        - Office 365 Mail
                        - Cadence
                        - BeeFree
                        - SaaS
                        - GDPR
                        - G2 Crowd
                        - Engage
                        - Deep Learning
                        - Tandem
                        - Eloqua
                        - Websphere
                        - Cloudflare DNS
                        - Backlog
                        - AccuRate
                        - Outbound
                        - Gensim
                        - Yield
                        - Informed
                        - SQL
                        - Via
                        - Achievers
                        - Datadog
                        - Excel
                        - ROOT
                        - Tensorflow
                        - Replicated
                        - Outreach
                        - Pivotal
                        - Summit
                        - Retargeting
                        - EmbARK
                        - Tableau
                        - Ai
                        - Acumen
                        - AND CO
                        - Later
                        - Sales Representative
                        - Adobe
                        - Digital Marketing
                        - AMP
                        - SEO
                        - ZipRecruiter
                        - LiNK
                        - Forefront
                        - ASSET
                        - LinkedIn Insights
                        - GoDaddy
                        - Redshift
                        - Gmail
                        - Microsoft Dynamics
                        - Figma
                        - Docusign
                        - Timely
                        - Integrate
                        - OnSite
                        - SPENT
                        - Ubuntu
                        - Effective
                        - Artificial Intelligence
                        - Boost
                        - Lifecycle
                        - Machine Learning
                        - Streamline
                        - Node
                        - Matplotlib
                        - HubSpot CRM
                        - IBM
                        - 401K
                        - Outlook
                        - Intel
                        - Clarity
                        - Drift
                        - REP
                        - Windows 10
                        - Turtl
                        - Ml
                        - Onboard
                        - Data Science
                        - Flourish
                        - Pytorch
                        - AWS
                        - Teams
                        - Insights
                        - Microsoft Exchange
                        - Ifrs
                        - ACT
                        - CPL
                        - Pertinent
                        - Community
                        - Java EE
                        - WorkFLOW
                        - Form
                        - Prospect
                        - Sandbox
                        - R
                        - Symantec
                        - Gauge
                        - Amazon
                        - Photoshop
                        type: Privately Held
                        domain: cognism.com
                        industry:
                        - Computer Software
                        revenue: 67000000
                        linkedinUrl: https://www.linkedin.com/company/cognism
                        website: cognism.com
                        founded: 2013
                        lastConfirmed: 1677741025000
                        naics:
                        - '51'
                        - '5182'
                        sic:
                        - '73'
                        - '737'
                        shortDescription: Cognism is a B2B sales acceleration software company that provides a marketing and sales acceleration solution.
                        description: "Cognism is a leader in international sales intelligence, setting a new standard for data quality and compliance, trusted by 1800+ revenue teams worldwide.\n\nCognism helps businesses find, engage and close their dream prospects by providing premium company and contact information, including firmographics, technographics, sales trigger events, intent data, verified business emails and phone-verified mobile numbers. \n\nNext level GDPR & CCPA compliance, combined with innovative technology and integrations with leading CRM and sales engagement partners, make Cognism the number one choice for businesses looking to create a predictable pipeline, find their next best business opportunity and overcome global compliance barriers."
                      jobTitle: Chief Innovation Officer
                      lastName: Buljat
                      firstName: Stjepan
                      fullName: Stjepan Buljat
                      id: 34d633b7-41ea-3ac7-a280-431d71fd77eb
                      privacyNotificationSent: true
                      previousAccounts:
                      - name: ETNA d.o.o.
                        end: March 2016
                        title: Product Development Manager
                        start: September 2013
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: R&D Team Leader
                        start: December 2008
                      - name: SRCE
                        end: October 2005
                        title: Researcher
                        start: February 2005
                      - name: Cognism
                        end: September 2023
                        title: Group CTO And Co-Founder
                        start: March 2016
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: IT Architect
                        start: January 2006
                      skills:
                      - Servlets
                      - Akka
                      - Apache
                      - Message Queue
                      - Websphere
                      - WebSphere MQ
                      - UML
                      - Cloud Computing
                      - JPA
                      - Java
                      - Glassfish
                      - Eclipse
                      - Mac OS X
                      - Blackberry
                      - VisualAge
                      - MySQL
                      - Db4o
                      - EJB
                      - iPhone
                      - MQ
                      - Framework Design
                      - Tomcat
                      - "WebSphere Application Server\n          \n\n        \n          WebSphere Application Server"
                      - REST
                      - Groovy
                      - Smalltalk
                      - Django
                      - Ant
                      - JMS
                      - Play! Framework
                      - Scala
                      - JBoss Application Server
                      - PostgreSQL
                      - JDBC
                      - Swing
                      - JMX
                      - Maven
                      - spray-io
                      - pureQuery
                      - DB2
                      - Amazon Web Services
                      - Git
                      - Java Enterprise Edition
                      - SQL
                      - Problem Solving
                      - JSF
                      - J2EE
                      - Transaction Processing
                      - JUnit
                      - Jasper Reports
                      linkedinUrl: https://www.linkedin.com/in/stjepanbuljat
                      email:
                        address: stjepan.buljat@cognism.com
                        quality: HIGH_PLUS
                        sha256: 8196f25443a02b758c7fbd4b5c0ce86c71eadda92f49709eb5e2e3515d586929
                      education:
                      - start: '2013'
                        end: '2013'
                        school: Certified ScrumMaster Training
                        degree: Certified ScrumMaster, Project Management
                      - start: '2005'
                        end: '2005'
                        school: Cisco Certified Network Associate program
                        degree: Computer Systems Networking and Telecommunications
                      - start: '2000'
                        end: '2005'
                        school: FER
                        degree: Master of Science in Computing (mag.ing.comp), Computing
                      - start: '2007'
                        end: '2012'
                        school: Faculty of Economics & Business Zagreb
                        degree: MBA, Economics
                      country: Croatia
                      jobLeaveEvent:
                      - date: 31.08.2023
                        from:
                          name: Cognism
                          title: Group CTO And Co-Founder
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      jobJoinEvent:
                      - date: 01.09.2023
                        from:
                          name: university of zadar
                          title: Computer Science Teaching Assistant
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      mobilePhoneNumbers:
                      - number: '+123456789'
                        numberType: MOBILE
                        label: DIRECT_DIAL
                        score: 99
                        dnc: false
                      positionStartDate: September 2023
                      jobFunction:
                      - BUSINESS
                      - OVERSIGHT
                      managementLevel: Executive-Level
                      lastConfirmed: 1714687499208
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViO2IxMjBjOTdhLTlhNTItM2E3Zi1iNzNiLTg3MGUzYjQ0M2MxOTtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY=
                RedeemContactStandardEntitlement:
                  summary: Redeem Contact Standard Entitlement
                  value:
                    totalResults: 1
                    results:
                    - account:
                        name: Cognism
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        officePhoneNumbers:
                        - number: '+16469719264'
                          numberType: FIXED_LINE_OR_MOBILE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        - number: '+442038580822'
                          numberType: FIXED_LINE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        headcount: 500
                        sizeTo: 1000
                        sizeFrom: 501
                        location:
                        - addressType: office
                          country: Croatia
                          state: Zadarska
                          city: Zadar
                          street: 16 Put Murvice
                        - addressType: office
                          country: Germany
                          state: North Rhine-westphalia
                          city: Köln
                          street: 4 Friesenplatz Friesenpl.
                        - addressType: office
                          country: United States
                          state: New York
                          city: New York City
                          street: 43 W 23rd St
                        - addressType: office
                          country: Republic of North Macedonia
                          state: Karpoš
                          city: Skopje
                          street: Orce Nikolov Br.146 B
                        - addressType: hq
                          country: United Kingdom
                          state: England
                          city: London
                          street: 92 Albert Embankment
                        - addressType: office
                          country: United States
                          state: Massachusetts
                        - addressType: office
                          country: United Kingdom
                          state: England
                          city: London
                          zip: se1 6dp
                        technologies:
                        - git
                        - Vue.js
                        - Atlassian Jira
                        - Bing Ads
                        - C++
                        - Webpack
                        - C#
                        - Linkedin
                        - Piwik
                        - Modernizr
                        - Twitter Ads
                        - JavaScript
                        - PHP
                        - Unpkg
                        - Typekit
                        - Bootstrap
                        - Microsoft Azure
                        - Babel
                        - G Suite
                        - Python
                        - Cowboy
                        - Preact
                        - Meddicc
                        - cdnjs
                        - Trustpilot
                        - Sieben
                        - WordPress
                        - Google
                        - Docker
                        - Mailtastic
                        - Salesloft
                        - TypeScript
                        - CookieFirst
                        - RSS
                        - Hotjar
                        - Netsuite
                        - Optimise
                        - JSS
                        - Google Font API
                        - Linux
                        - Capterra
                        - AppNexus
                        - Moment.js
                        - AngularJS
                        - Cognism
                        - Facebook
                        - Facebook Pixel
                        - jsDelivr
                        - Open Graph
                        - Erlang
                        - Twitter Emoji (Twemoji)
                        - Intercom
                        - Linkedin Sign-in
                        - Reddit Ads
                        - Pardot
                        - Microsoft Advertising
                        - .NET
                        - React
                        - Envoy
                        - Twitter
                        - Exhibit
                        - Microsoft Excel
                        - Java
                        - Apache Spark
                        - CloudFlare
                        - Salesforce
                        - Captivate.fm
                        - Google Ads
                        - TrackJs
                        - Ahrefs
                        - Yoast SEO
                        - MediaElement.js
                        - Font Awesome
                        - Google Tag Manager
                        - RequireJS
                        - YUI
                        - Zendesk
                        - Salesforce Marketing Cloud Account Engagement
                        - Apache
                        - Kubernetes
                        - Hubspot
                        - Google Analytics
                        - jQuery
                        - Google Optimize
                        - Cloudflare Bot Management
                        - Node.js
                        - Microsoft
                        - PostgreSQL
                        - jQuery Modal
                        - Google Maps
                        - Gravatar
                        - jQuery CDN
                        - HSTS
                        - Slick
                        - Squarespace
                        - Google Docs
                        - HubSpot Analytics
                        - Scala
                        - LinkedIn Ads
                        - Angular
                        - Zoom
                        - Github
                        - Linkedin Insight Tag
                        - MongoDB
                        - MySQL
                        - YouTube
                        - NoSQL
                        - HubSpot CMS Hub
                        - Qualified
                        - HTTP/3
                        - Bitbucket
                        - Lessonly
                        - Akita
                        - Slack
                        - Office 365 Mail
                        - Cadence
                        - BeeFree
                        - SaaS
                        - GDPR
                        - G2 Crowd
                        - Engage
                        - Deep Learning
                        - Tandem
                        - Eloqua
                        - Websphere
                        - Cloudflare DNS
                        - Backlog
                        - AccuRate
                        - Outbound
                        - Gensim
                        - Yield
                        - Informed
                        - SQL
                        - Via
                        - Achievers
                        - Datadog
                        - Excel
                        - ROOT
                        - Tensorflow
                        - Replicated
                        - Outreach
                        - Pivotal
                        - Summit
                        - Retargeting
                        - EmbARK
                        - Tableau
                        - Ai
                        - Acumen
                        - AND CO
                        - Later
                        - Sales Representative
                        - Adobe
                        - Digital Marketing
                        - AMP
                        - SEO
                        - ZipRecruiter
                        - LiNK
                        - Forefront
                        - ASSET
                        - LinkedIn Insights
                        - GoDaddy
                        - Redshift
                        - Gmail
                        - Microsoft Dynamics
                        - Figma
                        - Docusign
                        - Timely
                        - Integrate
                        - OnSite
                        - SPENT
                        - Ubuntu
                        - Effective
                        - Artificial Intelligence
                        - Boost
                        - Lifecycle
                        - Machine Learning
                        - Streamline
                        - Node
                        - Matplotlib
                        - HubSpot CRM
                        - IBM
                        - 401K
                        - Outlook
                        - Intel
                        - Clarity
                        - Drift
                        - REP
                        - Windows 10
                        - Turtl
                        - Ml
                        - Onboard
                        - Data Science
                        - Flourish
                        - Pytorch
                        - AWS
                        - Teams
                        - Insights
                        - Microsoft Exchange
                        - Ifrs
                        - ACT
                        - CPL
                        - Pertinent
                        - Community
                        - Java EE
                        - WorkFLOW
                        - Form
                        - Prospect
                        - Sandbox
                        - R
                        - Symantec
                        - Gauge
                        - Amazon
                        - Photoshop
                        type: Privately Held
                        domain: cognism.com
                        industry:
                        - Computer Software
                        revenue: 67000000
                        linkedinUrl: https://www.linkedin.com/company/cognism
                        website: cognism.com
                        founded: 2013
                        lastConfirmed: 1677741025000
                        naics:
                        - '51'
                        - '5182'
                        sic:
                        - '73'
                        - '737'
                        shortDescription: Cognism is a B2B sales acceleration software company that provides a marketing and sales acceleration solution.
                        description: "Cognism is a leader in international sales intelligence, setting a new standard for data quality and compliance, trusted by 1800+ revenue teams worldwide.\n\nCognism helps businesses find, engage and close their dream prospects by providing premium company and contact information, including firmographics, technographics, sales trigger events, intent data, verified business emails and phone-verified mobile numbers. \n\nNext level GDPR & CCPA compliance, combined with innovative technology and integrations with leading CRM and sales engagement partners, make Cognism the number one choice for businesses looking to create a predictable pipeline, find their next best business opportunity and overcome global compliance barriers."
                      jobTitle: Chief Innovation Officer
                      lastName: Buljat
                      firstName: Stjepan
                      fullName: Stjepan Buljat
                      id: 34d633b7-41ea-3ac7-a280-431d71fd77eb
                      privacyNotificationSent: true
                      previousAccounts:
                      - name: ETNA d.o.o.
                        end: March 2016
                        title: Product Development Manager
                        start: September 2013
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: R&D Team Leader
                        start: December 2008
                      - name: SRCE
                        end: October 2005
                        title: Researcher
                        start: February 2005
                      - name: Cognism
                        end: September 2023
                        title: Group CTO And Co-Founder
                        start: March 2016
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: IT Architect
                        start: January 2006
                      skills:
                      - Servlets
                      - Akka
                      - Apache
                      - Message Queue
                      - Websphere
                      - WebSphere MQ
                      - UML
                      - Cloud Computing
                      - JPA
                      - Java
                      - Glassfish
                      - Eclipse
                      - Mac OS X
                      - Blackberry
                      - VisualAge
                      - MySQL
                      - Db4o
                      - EJB
                      - iPhone
                      - MQ
                      - Framework Design
                      - Tomcat
                      - "WebSphere Application Server\n          \n\n        \n          WebSphere Application Server"
                      - REST
                      - Groovy
                      - Smalltalk
                      - Django
                      - Ant
                      - JMS
                      - Play! Framework
                      - Scala
                      - JBoss Application Server
                      - PostgreSQL
                      - JDBC
                      - Swing
                      - JMX
                      - Maven
                      - spray-io
                      - pureQuery
                      - DB2
                      - Amazon Web Services
                      - Git
                      - Java Enterprise Edition
                      - SQL
                      - Problem Solving
                      - JSF
                      - J2EE
                      - Transaction Processing
                      - JUnit
                      - Jasper Reports
                      linkedinUrl: https://www.linkedin.com/in/stjepanbuljat
                      email:
                        address: stjepan.buljat@cognism.com
                        quality: HIGH_PLUS
                        sha256: 8196f25443a02b758c7fbd4b5c0ce86c71eadda92f49709eb5e2e3515d586929
                      education:
                      - start: '2013'
                        end: '2013'
                        school: Certified ScrumMaster Training
                        degree: Certified ScrumMaster, Project Management
                      - start: '2005'
                        end: '2005'
                        school: Cisco Certified Network Associate program
                        degree: Computer Systems Networking and Telecommunications
                      - start: '2000'
                        end: '2005'
                        school: FER
                        degree: Master of Science in Computing (mag.ing.comp), Computing
                      - start: '2007'
                        end: '2012'
                        school: Faculty of Economics & Business Zagreb
                        degree: MBA, Economics
                      country: Croatia
                      jobLeaveEvent:
                      - date: 31.08.2023
                        from:
                          name: Cognism
                          title: Group CTO And Co-Founder
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      jobJoinEvent:
                      - date: 01.09.2023
                        from:
                          name: university of zadar
                          title: Computer Science Teaching Assistant
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      positionStartDate: September 2023
                      jobFunction:
                      - BUSINESS
                      - OVERSIGHT
                      managementLevel: Executive-Level
                      lastConfirmed: 1714687499208
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViO2IxMjBjOTdhLTlhNTItM2E3Zi1iNzNiLTg3MGUzYjQ0M2MxOTtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY=
        '400':
          description: Bad Request. The request body is invalid, a required field is missing, a parameter name is wrong, or a data type does not match the specification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. The API token is missing, invalid, expired, or the Authorization header is malformed. Entitlements may also be unset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingCredentials:
                  value:
                  - key: MissingCredentials
                    code: 401
                    msg: Missing required credentials
        '404':
          description: Not Found. The route does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                routeNotFound:
                  value:
                  - key: RouteNotFound
                    code: 404
                    msg: Not found
        '429':
          description: Rate limit exceeded. Reduce request frequency and retry with backoff. Redeem throughput is capped at 1,000 records per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/search/account/redeem:
    post:
      operationId: redeemAccounts
      summary: Redeem accounts by ID
      description: Retrieve full company records for the account IDs returned by the Search or Enrich API. Account redemption does NOT consume Credits.
      tags:
      - Redeem
      parameters:
      - name: mergePhonesAndLocations
        in: query
        required: false
        description: Merge phone numbers and locations into consolidated arrays.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemRequest'
            examples:
              twoAccountIds:
                summary: Redeem Accounts by IDs (collection example)
                value:
                  redeemIds:
                  - e53fa4ed-cc99-385c-b431-38fd6a6a88e0
                  - efc6d975-8599-38ab-8cfe-e1c42ac16dc6
      responses:
        '200':
          description: Full account records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRedeemResponse'
              examples:
                RedeemAdvancedEntitlement:
                  summary: Redeem Advanced Entitlement
                  value:
                    total: 2
                    result:
                    - id: e53fa4ed-cc99-385c-b431-38fd6a6a88e0
                      name: Mailtastic
                      domain: mailtastic.com
                      industries:
                      - Marketing and Advertising
                      description: Welcome to Mailtastic! Do you know that your clients, contacts and potential customers see your email signature more than they actually see your website or social media accounts? The marketing potential of your email signature is therefore a huge asset that you can use to create diverse marketing campaigns which you share daily as you and your team send your email messages. This is a great marketing goldmine! Mailtastic allows you to centrally manage your employees' email signatures and extend them with marketing banners to transform daily email traffic into a powerful marketing channel. The success of each campaign can be evaluated in the dashboard by means of clicks, impressions and click-rate. At Mailtastic we help you explore the full marketing potential of your email signature to further diversify your marketing efforts and reach new potential customers. Get in touch and we will be happy to show you how it all works!
                      shortDescription: Mailtastic is a solution that allows you to show and analyze marketing messages in your company's e-mail signatures.
                      founded: 2015
                      website: www.mailtastic.com
                      linkedinUrl: https://www.linkedin.com/company/mailtastic
                      revenue: 60953000
                      sizeFrom: 11
                      sizeTo: 50
                      technologies:
                      - GDPR
                      - Mailtastic
                      - SaaS
                      - Ai
                      - MailChimp
                      - Outbound
                      - ZipRecruiter
                      - THINK
                      - AngularJS
                      - MySQL
                      - Salesforce
                      - Microsoft Dynamics
                      - Cognism
                      - Hubspot
                      - Google Apps for Business
                      - Linkedin
                      - Google
                      - Microsoft Office
                      - Consensus
                      - SEO
                      - Microsoft
                      - Prospect
                      type: Privately Held
                      officePhoneNumbers:
                      - number: '+4961316338658'
                        score: 20
                        dnc: false
                        label: office
                      locations:
                      - type: hq
                        country: Germany
                        state: Rheinland-pfalz
                        city: Mainz
                        zip: '55116'
                        street: Große Bleiche 10, 55116 Mainz, Germany
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      domain: cognism.com
                      industries:
                      - Computer Software
                      description: 'Cognism is the smart all-in-one marketing and sales acceleration solution. We provide organizations a GDPR compliant way to prospect leads and enrich data. '
                      shortDescription: Cognism is a B2B sales acceleration software company that provides a marketing and sales acceleration solution.
                      founded: 2015
                      website: cognism.com
                      linkedinUrl: https://www.linkedin.com/company/cognism/
                      revenue: 17000000
                      naics:
                      - '5182'
                      - '51'
                      sic:
                      - '737'
                      - '73'
                      sizeFrom: 201
                      sizeTo: 500
                      tech:
                      - Replicated
                      - Salesforce
                      - Salesloft
                      - Lifecycle
                      - Docker
                      - GDPR
                      - Summit
                      - Matplotlib
                      - AccuRate
                      - MongoDB
                      - Cadence
                      - Digital Marketing
                      - Artificial Intelligence
                      - Intercom
                      - Java EE
                      - Yield
                      - Node
                      - Retargeting
                      - Github
                      - Cognism
                      - Boost
                      - Ai
                      - Onboard
                      - LiNK
                      - IBM
                      - Sandbox
                      - PostgreSQL
                      - Office 365 Mail
                      - Deep Learning
                      - Websphere
                      - Gensim
                      - Achievers
                      - Hubspot
                      - Node.js
                      type: Public Company
                      officePhoneNumbers:
                      - number: '+16469719264'
                        score: 20
                        dnc: false
                        label: COMPANY_SWITCHBOARD
                      hqPhoneNumbers:
                      - number: '442038580822'
                        score: 20
                        dnc: false
                        label: COMPANY_SWITCHBOARD
                      location:
                      - type: hq
                        country: United Kingdom
                        state: England
                        city: London
                        street: 92 Albert Embankment
                      - type: office
                        country: United States
                        state: New York
                        city: New York
                        zip: '10010'
                        street: 43 W 23rd St, New York, NY 10010, USA
                      companyHiring:
                      - employer: Cognism
                        jobTitle: Product-Led Growth Marketing Manager
                        department: Marketing
                        jobDate: '2021-09-14'
                        country: United Kingdom
                        state: pariatur amet
                        city: do anim
                        url: https://independentjobs.independent.co.uk/job/27635997/product-led-growth-marketing-manager/
                        internship: false
                        workFromHome: false
                RedeemStandardEntitlement:
                  summary: Redeem Standard Entitlement
                  value:
                    total: 2
                    result:
                    - id: e53fa4ed-cc99-385c-b431-38fd6a6a88e0
                      name: Mailtastic
                      domain: mailtastic.com
                      industries:
                      - Marketing and Advertising
                      description: Welcome to Mailtastic! Do you know that your clients, contacts and potential customers see your email signature more than they actually see your website or social media accounts? The marketing potential of your email signature is therefore a huge asset that you can use to create diverse marketing campaigns which you share daily as you and your team send your email messages. This is a great marketing goldmine! Mailtastic allows you to centrally manage your employees' email signatures and extend them with marketing banners to transform daily email traffic into a powerful marketing channel. The success of each campaign can be evaluated in the dashboard by means of clicks, impressions and click-rate. At Mailtastic we help you explore the full marketing potential of your email signature to further diversify your marketing efforts and reach new potential customers. Get in touch and we will be happy to show you how it all works!
                      shortDescription: Mailtastic is a solution that allows you to show and analyze marketing messages in your company's e-mail signatures.
                      founded: 2015
                      website: www.mailtastic.com
                      linkedinUrl: https://www.linkedin.com/company/mailtastic
                      revenue: 60953000
                      sizeFrom: 11
                      sizeTo: 50
                      technologies:
                      - GDPR
                      - Mailtastic
                      - SaaS
                      - Ai
                      - MailChimp
                      - Outbound
                      - ZipRecruiter
                      - THINK
                      - AngularJS
                      - MySQL
                      - Salesforce
                      - Microsoft Dynamics
                      - Cognism
                      - Hubspot
                      - Google Apps for Business
                      - Linkedin
                      - Google
                      - Microsoft Office
                      - Consensus
                      - SEO
                      - Microsoft
                      - Prospect
                      type: Privately Held
                      location:
                      - type: hq
                        country: Germany
                        state: Rheinland-pfalz
                        city: Mainz
                        zip: '55116'
                        street: Große Bleiche 10, 55116 Mainz, Germany
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      domain: cognism.com
                      industries:
                      - Computer Software
                      description: 'Cognism is the smart all-in-one marketing and sales acceleration solution. We provide organizations a GDPR compliant way to prospect leads and enrich data. '
                      shortDescription: Cognism is a B2B sales acceleration software company that provides a marketing and sales acceleration solution.
                      founded: 2015
                      website: cognism.com
                      linkedinUrl: https://www.linkedin.com/company/cognism/
                      revenue: 17000000
                      naics:
                      - '5182'
                      - '51'
                      sic:
                      - '737'
                      - '73'
                      sizeFrom: 201
                      sizeTo: 500
                      tech:
                      - Replicated
                      - Salesforce
                      - Salesloft
                      - Lifecycle
                      - Docker
                      - GDPR
                      - Summit
                      - Matplotlib
                      - AccuRate
                      - MongoDB
                      - Cadence
                      - Digital Marketing
                      - Artificial Intelligence
                      - Intercom
                      - Java EE
                      - Yield
                      - Node
                      - Retargeting
                      - Github
                      - Cognism
                      - Boost
                      - Ai
                      - Onboard
                      - LiNK
                      - IBM
                      - Sandbox
                      - PostgreSQL
                      - Office 365 Mail
                      - Deep Learning
                      - Websphere
                      - Gensim
                      - Achievers
                      - Hubspot
                      - Node.js
                      type: Public Company
                      locations:
                      - type: hq
                        country: United Kingdom
                        state: England
                        city: London
                        street: 92 Albert Embankment
                      - type: office
                        country: United States
                        state: New York
                        city: New York
                        zip: '10010'
                        street: 43 W 23rd St, New York, NY 10010, USA
        '400':
          description: Bad Request. The request body is invalid, a required field is missing, a parameter name is wrong, or a data type does not match the specification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. The API token is missing, invalid, expired, or the Authorization header is malformed. Entitlements may also be unset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingCredentials:
                  value:
                  - key: MissingCredentials
                    code: 401
                    msg: Missing required credentials
        '404':
          description: Not Found. The route does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                routeNotFound:
                  value:
                  - key: RouteNotFound
                    code: 404
                    msg: Not found
        '429':
          description: Rate limit exceeded. Reduce request frequency and retry with backoff. Redeem throughput is capped at 1,000 records per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Contact:
      type: object
      description: Full contact record. Only fields inside your organisation API Entitlement are returned. Redeeming a contact consumes Credits the first time.
      properties:
        id:
          type: string
        redeemId:
          type: string
        fullName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        jobTitle:
          type: string
        seniority:
          type: string
        managementLevel:
          type: string
        jobFunction:
          type: string
        email:
          type: string
        linkedinUrl:
          type: string
        mobilePhoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        directPhoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        skills:
          type: array
          items:
            type: string
        education:
          type: array
          items:
            type: object
            additionalProperties: true
        previousAccounts:
          type: array
          items:
            type: object
            additionalProperties: true
        account:
          $ref: '#/components/schemas/Account'
        country:
          type: string
        state:
          type: string
        city:
          type: string
        zip:
          type: string
        street:
          type: string
        positionStartDate:
          type: string
        lastConfirmed:
          type: integer
          description: Unix timestamp in milliseconds.
      additionalProperties: true
    Error:
      type: array
      description: Cognism returns errors as an array of error objects.
      items:
        type: object
        properties:
          key:
            type: string
            description: Machine-readable error key, e.g. MissingCredentials.
          code:
            type: integer
            description: HTTP status code, repeated in the body.
          msg:
            type: string
            description: Human-readable message.
    RedeemRequest:
      type: object
      required:
      - redeemIds
      description: Redeem IDs returned by the Search or Enrich API. 1-20 IDs per request.
      properties:
        redeemIds:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: string
          description: Redeem IDs from a Search or Enrich response. For accounts the account `id` is used. An outdated contact redeemId falls back to the current one and the new redeemId is returned alongside the data.
    Location:
      type: object
      properties:
        addressType:
          type: string
          description: office or hq.
        country:
          type: string
        state:
          type: string
        city:
          type: string
        street:
          type: string
        zip:
          type: string
    PhoneNumber:
      type: object
      description: A phone number with its quality score and Do-Not-Call flag.
      properties:
        number:
          type: string
        numberType:
          type: string
        label:
          type: string
        score:
          type: integer
        dnc:
          type: boolean
          description: Do Not Call flag.
        addressType:
          type: string
    Account:
      type: object
      description: Full account record. Only fields inside your organisation API Entitlement are returned.
      properties:
        id:
          type: string
        name:
          type: string
        domain:
          type: string
        website:
          type: string
        linkedinUrl:
          type: string
        description:
          type: string
        shortDescription:
          type: string
        founded:
          type: integer
        revenue:
          type: integer
        sizeFrom:
          type: integer
        sizeTo:
          type: integer
        headcount:
          type: integer
        industries:
          type: array
          items:
            type: string
        technologies:
          type: array
          items:
            type: string
        type:
          type: string
        sic:
          type: array
          items:
            type: string
        isic:
          type: array
          items:
            type: string
        naics:
          type: array
          items:
            type: string
        location:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        officePhoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        hqPhoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        hiringEvent:
          type: array
          items:
            type: object
            additionalProperties: true
        lastConfirmed:
          type: integer
          description: Unix timestamp in milliseconds.
      additionalProperties: true
    ContactRedeemResponse:
      type: object
      properties:
        totalResults:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    AccountRedeemResponse:
      type: object
      properties:
        total:
          type: integer
        result:
          type: array
          items:
            $ref: '#/components/schemas/Account'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token issued in the Cognism app under Settings > Tokens and API. Sent as `Authorization: Bearer <token>`. Tokens have a time-to-live of 6 months.'
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Alternative to the Authorization header. Cognism documents it but recommends the header instead, as the query string is less secure.
