# Cognism API - OpenAPI 3.1
# Derived by the API Evangelist enrichment pipeline from the Cognism API Postman
# collection Cognism publishes at https://developers.cognism.com/
# Source collection: https://documenter.gw.postman.com/api/collections/14862827/UVJhBu4C
# Derived: 2026-08-13  method: derived  (verbatim collection kept at postman/cognism-api-collection.json)
openapi: 3.1.0
info:
  title: Cognism API
  version: '2026-08-13'
  summary: Search, enrich and redeem B2B contact and company data from the Cognism database.
  description: |-
    The Cognism API is used to search, preview and enrich Contacts and Accounts.

    It is composed of three services that are used together:

    - **Search API** - find contacts or companies matching a filter set. Returns preview records, each carrying a `redeemId`.
    - **Enrich API** - find the best matching Cognism record for a contact or company you already hold. Returns a preview, a `matchScore` and a `redeemId`.
    - **Redeem API** - exchange a `redeemId` for the full record.

    Search and Enrich return preview data only and do not consume Credits. Credits are consumed when a contact is redeemed for the first time; account redemptions and repeat contact redemptions are free.

    The fields a Redeem response carries are governed by your organisation API Entitlements, configured by Cognism. Query the Entitlement API to read them.

    API access is sales-gated: it must be enabled on your subscription, entitlements configured by the Cognism Provisioning team, and an API token generated in the Cognism app under Settings > Tokens and API.

    _Derived by API Evangelist from the Cognism API Postman collection published by Cognism at https://developers.cognism.com/ . Not an official Cognism artifact._
  contact:
    name: Cognism
    url: https://www.cognism.com/contact
  termsOfService: https://www.cognism.com/terms-of-website-use
  x-source: https://documenter.gw.postman.com/api/collections/14862827/UVJhBu4C
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-on: '2026-08-13'
servers:
- url: https://app.cognism.com
  description: Production. Value of the `baseUrl` variable in the Production environment published with
    the Cognism API Postman collection.
security:
- bearerAuth: []
tags:
- name: Search
  description: Find contacts and companies matching a filter set.
- name: Enrich
  description: Match a record you already hold to a Cognism record.
- name: Redeem
  description: Exchange a redeem ID for the full record.
- name: Entitlement
  description: Read which fields your organisation is licensed for.
- name: Filter
  description: Reference lists of values the search filters accept.
- name: Compliance
  description: Opt-out list lookups for GDPR/CCPA suppression.
paths:
  /api/search/contact/search:
    post:
      operationId: searchContacts
      summary: Search contacts
      description: Search the Cognism database for contacts matching your filters. Returns preview records
        with a `redeemId` for each match. Search does not consume Credits. Supports 20-100 records per
        request and up to 1,000 records per minute.
      tags:
      - Search
      parameters:
      - name: indexSize
        in: query
        required: false
        description: Records per page (20-100).
        schema:
          type: integer
          minimum: 20
          maximum: 100
          default: 25
      - name: lastReturnedKey
        in: query
        required: false
        description: Forward-only paging cursor returned by the previous response.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSearchRequest'
            examples:
              byNameAndCompany:
                summary: Search Contacts (collection example)
                value:
                  firstName: Stjepan
                  lastName: Buljat
                  jobTitles:
                  - Chief Innovation Officer
                  excludeJobTitles:
                  - CEO
                  regions:
                  - EMEA
                  mobilePhoneNumbers:
                    highPlus: true
                  emailQuality:
                    highPlus: true
                  account:
                    names:
                    - Cognism
                    officePhoneNumbers:
                      medium: true
      responses:
        '200':
          description: Matching contact previews.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSearchResponse'
              examples:
                SearchContactsAdvancedEntitlement:
                  summary: Search Contacts Advanced Entitlement
                  value:
                    lastReturnedKey: 1714687499208_~34d633b7-41ea-3ac7-a280-431d71fd77eb
                    totalResults: 1
                    results:
                    - id: 34d633b7-41ea-3ac7-a280-431d71fd77eb
                      firstName: Stjepan
                      jobTitle: Chief Innovation Officer
                      account:
                        name: Cognism
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        hasOfficePhoneNumbers: true
                        hasHqPhoneNumbers: false
                        hasHiringEvent: true
                        hasHeadcount: true
                        hasSize: true
                        hasLocation: true
                        hasTechnologies: true
                        hasType: true
                        hasDomain: true
                        hasIndustry: true
                        hasRevenue: true
                        hasLinkedinUrl: true
                        hasWebsite: true
                        hasFounded: true
                        hasLastConfirmed: true
                        hasNaics: true
                        hasIsic: false
                        hasSic: true
                        hasShortDescription: true
                        hasDescription: true
                      lastName: Buljat
                      fullName: Stjepan Buljat
                      hasPreviousAccounts: true
                      hasSkills: true
                      hasLocationMoveEvent: false
                      hasLinkedinUrl: true
                      hasEmail: true
                      hasEducation: true
                      hasZip: false
                      hasState: false
                      hasCountry: true
                      hasCity: false
                      hasRegion: false
                      hasJobLeaveEvent: true
                      hasJobJoinEvent: true
                      hasStreet: false
                      hasDirectPhoneNumbers: false
                      hasMobilePhoneNumbers: false
                      hasPositionStartDate: true
                      hasSeniority: false
                      hasJobFunction: true
                      hasManagementLevel: true
                      hasLastConfirmed: true
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViO2IxMjBjOTdhLTlhNTItM2E3Zi1iNzNiLTg3MGUzYjQ0M2MxOTtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY=
                SearchContactsStandardEntitlement:
                  summary: Search Contacts Standard Entitlement
                  value:
                    lastReturnedKey: 1714687499208_~34d633b7-41ea-3ac7-a280-431d71fd77eb
                    totalResults: 1
                    results:
                    - id: 34d633b7-41ea-3ac7-a280-431d71fd77eb
                      firstName: Stjepan
                      jobTitle: Chief Innovation Officer
                      account:
                        name: Cognism
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        hasHeadcount: true
                        hasSize: true
                        hasTechnologies: true
                        hasType: true
                        hasDomain: true
                        hasRevenue: true
                        hasWebsite: true
                        hasFounded: true
                        hasNaics: true
                        hasIsic: false
                        hasSic: true
                        hasShortDescription: true
                        hasDescription: true
                      lastName: Buljat
                      fullName: Stjepan Buljat
                      hasSkills: true
                      hasLinkedinUrl: true
                      hasEmail: true
                      hasEducation: true
                      hasZip: false
                      hasState: false
                      hasCountry: true
                      hasCity: false
                      hasStreet: false
                      hasPositionStartDate: true
                      hasSeniority: false
                      hasJobFunction: true
                      hasManagementLevel: true
                      hasLastConfirmed: true
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViO2IxMjBjOTdhLTlhNTItM2E3Zi1iNzNiLTg3MGUzYjQ0M2MxOTtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY=
        '400': &id001
          description: Bad Request. The request body is invalid, a required field is missing, a parameter
            name is wrong, or a data type does not match the specification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': &id002
          description: Unauthorized. The API token is missing, invalid, expired, or the Authorization
            header is malformed. Entitlements may also be unset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingCredentials:
                  value:
                  - key: MissingCredentials
                    code: 401
                    msg: Missing required credentials
        '404': &id003
          description: Not Found. The route does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                routeNotFound:
                  value:
                  - key: RouteNotFound
                    code: 404
                    msg: Not found
        '429': &id004
          description: Rate limit exceeded. Reduce request frequency and retry with backoff. Redeem throughput
            is capped at 1,000 records per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/search/account/search:
    post:
      operationId: searchAccounts
      summary: Search accounts
      description: Search the Cognism database for companies matching your filters. Returns preview records.
        Search does not consume Credits.
      tags:
      - Search
      parameters:
      - name: indexSize
        in: query
        required: false
        description: Records per page (20-100).
        schema:
          type: integer
          minimum: 20
          maximum: 100
          default: 100
      - name: lastReturnedKey
        in: query
        required: false
        description: Forward-only paging cursor returned by the previous response.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSearchRequest'
            examples:
              byNameAndDomain:
                summary: Search Accounts (collection example)
                value:
                  names:
                  - Cognism
                  domains:
                  - cognism.com
                  accountSearchOptions:
                    match_exact_account_name: true
                    match_exact_domain: false
                    filter_domain: exists
                    events_operator: AND
      responses:
        '200':
          description: Matching account previews.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSearchResponse'
              examples:
                SearchAccountAdvancedEntitlement:
                  summary: Search Account Advanced Entitlement
                  value:
                    lastReturnedKey: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                    totalResults: 1
                    results:
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      hasDomain: true
                      hasIndustries: true
                      hasDescription: true
                      hasShortDescription: true
                      hasFounded: true
                      hasWebsite: true
                      hasLinkedinUrl: true
                      hasRevenue: true
                      hasDepartment: true
                      hasSic: true
                      hasIsic: false
                      hasNaics: true
                      hasSize: true
                      hasHeadcount: true
                      hasTechnologies: true
                      hasType: true
                      hasCountry: true
                      hasState: true
                      hasCity: true
                      hasZip: true
                      hasStreet: true
                      hasOfficePhoneNumbers: false
                      hasHqPhoneNumbers: true
                      hasHiringEvent: false
                SearchAccountStandardEntitlement:
                  summary: Search Account Standard Entitlement
                  value:
                    lastReturnedKey: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                    totalResults: 1
                    results:
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      hasDomain: true
                      hasIndustries: true
                      hasDescription: true
                      hasShortDescription: true
                      hasFounded: true
                      hasWebsite: true
                      hasLinkedinUrl: true
                      hasRevenue: true
                      hasDepartment: true
                      hasSic: true
                      hasIsic: false
                      hasNaics: true
                      hasSize: true
                      hasHeadcount: true
                      hasTechnologies: true
                      hasType: true
                      hasCountry: true
                      hasState: true
                      hasCity: true
                      hasZip: true
                      hasStreet: true
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/contact/redeem:
    post:
      operationId: redeemContacts
      summary: Redeem contacts by redeem ID
      description: Retrieve full contact records for up to 20 redeem IDs returned by the Search or Enrich
        API. Redeeming a contact for the first time CONSUMES CREDITS; re-redeeming the same contact does
        not. Only fields inside your API Entitlement are returned.
      tags:
      - Redeem
      parameters:
      - name: mergePhonesAndLocations
        in: query
        required: false
        description: Merge phone numbers and locations into consolidated arrays.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemRequest'
            examples:
              singleRedeemId:
                summary: Redeem Contacts by IDs (collection example)
                value:
                  redeemIds:
                  - YmVkOWMxZDItYjgwNi0zN2I2LTk2MzItNzVlZjk5MWE0ODdhOzFjNmY4MDg2LTAzNjktMzIyMi1hMjU3LWI1ZmQxZDVlNTc3NTsyZjdjZDBmMC01NWM2LTNlMWEtYjliNi0xZTU1MDQ3ZmFmY2Y=
      responses:
        '200':
          description: Full contact records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRedeemResponse'
              examples:
                RedeemContactAdvancedEntitlement:
                  summary: Redeem Contact Advanced Entitlement
                  value:
                    totalResults: 1
                    results:
                    - account:
                        name: Cognism
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        officePhoneNumbers:
                        - number: '+16469719264'
                          numberType: FIXED_LINE_OR_MOBILE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        - number: '+442038580822'
                          numberType: FIXED_LINE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        hiringEvent:
                        - country: Germany
                          jobTitle: Campaign Managers
                          employer: Cognism
                          url: https://apply.workable.com/cognism-ltd/j/588BCA3EEE/
                          type: CompanyHiring
                          jobDate: '2023-09-05'
                        headcount: 500
                        sizeTo: 1000
                        sizeFrom: 501
                        location:
                        - addressType: office
                          country: Croatia
                          state: Zadarska
                          city: Zadar
                          street: 16 Put Murvice
                        - addressType: office
                          country: Germany
                          state: North Rhine-westphalia
                          city: Köln
                          street: 4 Friesenplatz Friesenpl.
                        - addressType: office
                          country: United States
                          state: New York
                          city: New York City
                          street: 43 W 23rd St
                        - addressType: office
                          country: Republic of North Macedonia
                          state: Karpoš
                          city: Skopje
                          street: Orce Nikolov Br.146 B
                        - addressType: hq
                          country: United Kingdom
                          state: England
                          city: London
                          street: 92 Albert Embankment
                        - addressType: office
                          country: United States
                          state: Massachusetts
                        - addressType: office
                          country: United Kingdom
                          state: England
                          city: London
                          zip: se1 6dp
                        technologies:
                        - git
                        - Vue.js
                        - Atlassian Jira
                        - Bing Ads
                        - C++
                        - Webpack
                        - C#
                        - Linkedin
                        - Piwik
                        - Modernizr
                        - Twitter Ads
                        - JavaScript
                        - PHP
                        - Unpkg
                        - Typekit
                        - Bootstrap
                        - Microsoft Azure
                        - Babel
                        - G Suite
                        - Python
                        - Cowboy
                        - Preact
                        - Meddicc
                        - cdnjs
                        - Trustpilot
                        - Sieben
                        - WordPress
                        - Google
                        - Docker
                        - Mailtastic
                        - Salesloft
                        - TypeScript
                        - CookieFirst
                        - RSS
                        - Hotjar
                        - Netsuite
                        - Optimise
                        - JSS
                        - Google Font API
                        - Linux
                        - Capterra
                        - AppNexus
                        - Moment.js
                        - AngularJS
                        - Cognism
                        - Facebook
                        - Facebook Pixel
                        - jsDelivr
                        - Open Graph
                        - Erlang
                        - Twitter Emoji (Twemoji)
                        - Intercom
                        - Linkedin Sign-in
                        - Reddit Ads
                        - Pardot
                        - Microsoft Advertising
                        - .NET
                        - React
                        - Envoy
                        - Twitter
                        - Exhibit
                        - Microsoft Excel
                        - Java
                        - Apache Spark
                        - CloudFlare
                        - Salesforce
                        - Captivate.fm
                        - Google Ads
                        - TrackJs
                        - Ahrefs
                        - Yoast SEO
                        - MediaElement.js
                        - Font Awesome
                        - Google Tag Manager
                        - RequireJS
                        - YUI
                        - Zendesk
                        - Salesforce Marketing Cloud Account Engagement
                        - Apache
                        - Kubernetes
                        - Hubspot
                        - Google Analytics
                        - jQuery
                        - Google Optimize
                        - Cloudflare Bot Management
                        - Node.js
                        - Microsoft
                        - PostgreSQL
                        - jQuery Modal
                        - Google Maps
                        - Gravatar
                        - jQuery CDN
                        - HSTS
                        - Slick
                        - Squarespace
                        - Google Docs
                        - HubSpot Analytics
                        - Scala
                        - LinkedIn Ads
                        - Angular
                        - Zoom
                        - Github
                        - Linkedin Insight Tag
                        - MongoDB
                        - MySQL
                        - YouTube
                        - NoSQL
                        - HubSpot CMS Hub
                        - Qualified
                        - HTTP/3
                        - Bitbucket
                        - Lessonly
                        - Akita
                        - Slack
                        - Office 365 Mail
                        - Cadence
                        - BeeFree
                        - SaaS
                        - GDPR
                        - G2 Crowd
                        - Engage
                        - Deep Learning
                        - Tandem
                        - Eloqua
                        - Websphere
                        - Cloudflare DNS
                        - Backlog
                        - AccuRate
                        - Outbound
                        - Gensim
                        - Yield
                        - Informed
                        - SQL
                        - Via
                        - Achievers
                        - Datadog
                        - Excel
                        - ROOT
                        - Tensorflow
                        - Replicated
                        - Outreach
                        - Pivotal
                        - Summit
                        - Retargeting
                        - EmbARK
                        - Tableau
                        - Ai
                        - Acumen
                        - AND CO
                        - Later
                        - Sales Representative
                        - Adobe
                        - Digital Marketing
                        - AMP
                        - SEO
                        - ZipRecruiter
                        - LiNK
                        - Forefront
                        - ASSET
                        - LinkedIn Insights
                        - GoDaddy
                        - Redshift
                        - Gmail
                        - Microsoft Dynamics
                        - Figma
                        - Docusign
                        - Timely
                        - Integrate
                        - OnSite
                        - SPENT
                        - Ubuntu
                        - Effective
                        - Artificial Intelligence
                        - Boost
                        - Lifecycle
                        - Machine Learning
                        - Streamline
                        - Node
                        - Matplotlib
                        - HubSpot CRM
                        - IBM
                        - 401K
                        - Outlook
                        - Intel
                        - Clarity
                        - Drift
                        - REP
                        - Windows 10
                        - Turtl
                        - Ml
                        - Onboard
                        - Data Science
                        - Flourish
                        - Pytorch
                        - AWS
                        - Teams
                        - Insights
                        - Microsoft Exchange
                        - Ifrs
                        - ACT
                        - CPL
                        - Pertinent
                        - Community
                        - Java EE
                        - WorkFLOW
                        - Form
                        - Prospect
                        - Sandbox
                        - R
                        - Symantec
                        - Gauge
                        - Amazon
                        - Photoshop
                        type: Privately Held
                        domain: cognism.com
                        industry:
                        - Computer Software
                        revenue: 67000000
                        linkedinUrl: https://www.linkedin.com/company/cognism
                        website: cognism.com
                        founded: 2013
                        lastConfirmed: 1677741025000
                        naics:
                        - '51'
                        - '5182'
                        sic:
                        - '73'
                        - '737'
                        shortDescription: Cognism is a B2B sales acceleration software company that provides
                          a marketing and sales acceleration solution.
                        description: "Cognism is a leader in international sales intelligence, setting\
                          \ a new standard for data quality and compliance, trusted by 1800+ revenue teams\
                          \ worldwide.\n\nCognism helps businesses find, engage and close their dream\
                          \ prospects by providing premium company and contact information, including\
                          \ firmographics, technographics, sales trigger events, intent data, verified\
                          \ business emails and phone-verified mobile numbers. \n\nNext level GDPR & CCPA\
                          \ compliance, combined with innovative technology and integrations with leading\
                          \ CRM and sales engagement partners, make Cognism the number one choice for\
                          \ businesses looking to create a predictable pipeline, find their next best\
                          \ business opportunity and overcome global compliance barriers."
                      jobTitle: Chief Innovation Officer
                      lastName: Buljat
                      firstName: Stjepan
                      fullName: Stjepan Buljat
                      id: 34d633b7-41ea-3ac7-a280-431d71fd77eb
                      privacyNotificationSent: true
                      previousAccounts:
                      - name: ETNA d.o.o.
                        end: March 2016
                        title: Product Development Manager
                        start: September 2013
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: R&D Team Leader
                        start: December 2008
                      - name: SRCE
                        end: October 2005
                        title: Researcher
                        start: February 2005
                      - name: Cognism
                        end: September 2023
                        title: Group CTO And Co-Founder
                        start: March 2016
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: IT Architect
                        start: January 2006
                      skills:
                      - Servlets
                      - Akka
                      - Apache
                      - Message Queue
                      - Websphere
                      - WebSphere MQ
                      - UML
                      - Cloud Computing
                      - JPA
                      - Java
                      - Glassfish
                      - Eclipse
                      - Mac OS X
                      - Blackberry
                      - VisualAge
                      - MySQL
                      - Db4o
                      - EJB
                      - iPhone
                      - MQ
                      - Framework Design
                      - Tomcat
                      - "WebSphere Application Server\n          \n\n        \n          WebSphere Application\
                        \ Server"
                      - REST
                      - Groovy
                      - Smalltalk
                      - Django
                      - Ant
                      - JMS
                      - Play! Framework
                      - Scala
                      - JBoss Application Server
                      - PostgreSQL
                      - JDBC
                      - Swing
                      - JMX
                      - Maven
                      - spray-io
                      - pureQuery
                      - DB2
                      - Amazon Web Services
                      - Git
                      - Java Enterprise Edition
                      - SQL
                      - Problem Solving
                      - JSF
                      - J2EE
                      - Transaction Processing
                      - JUnit
                      - Jasper Reports
                      linkedinUrl: https://www.linkedin.com/in/stjepanbuljat
                      email:
                        address: stjepan.buljat@cognism.com
                        quality: HIGH_PLUS
                        sha256: 8196f25443a02b758c7fbd4b5c0ce86c71eadda92f49709eb5e2e3515d586929
                      education:
                      - start: '2013'
                        end: '2013'
                        school: Certified ScrumMaster Training
                        degree: Certified ScrumMaster, Project Management
                      - start: '2005'
                        end: '2005'
                        school: Cisco Certified Network Associate program
                        degree: Computer Systems Networking and Telecommunications
                      - start: '2000'
                        end: '2005'
                        school: FER
                        degree: Master of Science in Computing (mag.ing.comp), Computing
                      - start: '2007'
                        end: '2012'
                        school: Faculty of Economics & Business Zagreb
                        degree: MBA, Economics
                      country: Croatia
                      jobLeaveEvent:
                      - date: 31.08.2023
                        from:
                          name: Cognism
                          title: Group CTO And Co-Founder
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      jobJoinEvent:
                      - date: 01.09.2023
                        from:
                          name: university of zadar
                          title: Computer Science Teaching Assistant
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      mobilePhoneNumbers:
                      - number: '+123456789'
                        numberType: MOBILE
                        label: DIRECT_DIAL
                        score: 99
                        dnc: false
                      positionStartDate: September 2023
                      jobFunction:
                      - BUSINESS
                      - OVERSIGHT
                      managementLevel: Executive-Level
                      lastConfirmed: 1714687499208
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViO2IxMjBjOTdhLTlhNTItM2E3Zi1iNzNiLTg3MGUzYjQ0M2MxOTtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY=
                RedeemContactStandardEntitlement:
                  summary: Redeem Contact Standard Entitlement
                  value:
                    totalResults: 1
                    results:
                    - account:
                        name: Cognism
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        officePhoneNumbers:
                        - number: '+16469719264'
                          numberType: FIXED_LINE_OR_MOBILE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        - number: '+442038580822'
                          numberType: FIXED_LINE
                          label: COMPANY_SWITCHBOARD
                          score: 20
                          dnc: false
                          addressType: office
                        headcount: 500
                        sizeTo: 1000
                        sizeFrom: 501
                        location:
                        - addressType: office
                          country: Croatia
                          state: Zadarska
                          city: Zadar
                          street: 16 Put Murvice
                        - addressType: office
                          country: Germany
                          state: North Rhine-westphalia
                          city: Köln
                          street: 4 Friesenplatz Friesenpl.
                        - addressType: office
                          country: United States
                          state: New York
                          city: New York City
                          street: 43 W 23rd St
                        - addressType: office
                          country: Republic of North Macedonia
                          state: Karpoš
                          city: Skopje
                          street: Orce Nikolov Br.146 B
                        - addressType: hq
                          country: United Kingdom
                          state: England
                          city: London
                          street: 92 Albert Embankment
                        - addressType: office
                          country: United States
                          state: Massachusetts
                        - addressType: office
                          country: United Kingdom
                          state: England
                          city: London
                          zip: se1 6dp
                        technologies:
                        - git
                        - Vue.js
                        - Atlassian Jira
                        - Bing Ads
                        - C++
                        - Webpack
                        - C#
                        - Linkedin
                        - Piwik
                        - Modernizr
                        - Twitter Ads
                        - JavaScript
                        - PHP
                        - Unpkg
                        - Typekit
                        - Bootstrap
                        - Microsoft Azure
                        - Babel
                        - G Suite
                        - Python
                        - Cowboy
                        - Preact
                        - Meddicc
                        - cdnjs
                        - Trustpilot
                        - Sieben
                        - WordPress
                        - Google
                        - Docker
                        - Mailtastic
                        - Salesloft
                        - TypeScript
                        - CookieFirst
                        - RSS
                        - Hotjar
                        - Netsuite
                        - Optimise
                        - JSS
                        - Google Font API
                        - Linux
                        - Capterra
                        - AppNexus
                        - Moment.js
                        - AngularJS
                        - Cognism
                        - Facebook
                        - Facebook Pixel
                        - jsDelivr
                        - Open Graph
                        - Erlang
                        - Twitter Emoji (Twemoji)
                        - Intercom
                        - Linkedin Sign-in
                        - Reddit Ads
                        - Pardot
                        - Microsoft Advertising
                        - .NET
                        - React
                        - Envoy
                        - Twitter
                        - Exhibit
                        - Microsoft Excel
                        - Java
                        - Apache Spark
                        - CloudFlare
                        - Salesforce
                        - Captivate.fm
                        - Google Ads
                        - TrackJs
                        - Ahrefs
                        - Yoast SEO
                        - MediaElement.js
                        - Font Awesome
                        - Google Tag Manager
                        - RequireJS
                        - YUI
                        - Zendesk
                        - Salesforce Marketing Cloud Account Engagement
                        - Apache
                        - Kubernetes
                        - Hubspot
                        - Google Analytics
                        - jQuery
                        - Google Optimize
                        - Cloudflare Bot Management
                        - Node.js
                        - Microsoft
                        - PostgreSQL
                        - jQuery Modal
                        - Google Maps
                        - Gravatar
                        - jQuery CDN
                        - HSTS
                        - Slick
                        - Squarespace
                        - Google Docs
                        - HubSpot Analytics
                        - Scala
                        - LinkedIn Ads
                        - Angular
                        - Zoom
                        - Github
                        - Linkedin Insight Tag
                        - MongoDB
                        - MySQL
                        - YouTube
                        - NoSQL
                        - HubSpot CMS Hub
                        - Qualified
                        - HTTP/3
                        - Bitbucket
                        - Lessonly
                        - Akita
                        - Slack
                        - Office 365 Mail
                        - Cadence
                        - BeeFree
                        - SaaS
                        - GDPR
                        - G2 Crowd
                        - Engage
                        - Deep Learning
                        - Tandem
                        - Eloqua
                        - Websphere
                        - Cloudflare DNS
                        - Backlog
                        - AccuRate
                        - Outbound
                        - Gensim
                        - Yield
                        - Informed
                        - SQL
                        - Via
                        - Achievers
                        - Datadog
                        - Excel
                        - ROOT
                        - Tensorflow
                        - Replicated
                        - Outreach
                        - Pivotal
                        - Summit
                        - Retargeting
                        - EmbARK
                        - Tableau
                        - Ai
                        - Acumen
                        - AND CO
                        - Later
                        - Sales Representative
                        - Adobe
                        - Digital Marketing
                        - AMP
                        - SEO
                        - ZipRecruiter
                        - LiNK
                        - Forefront
                        - ASSET
                        - LinkedIn Insights
                        - GoDaddy
                        - Redshift
                        - Gmail
                        - Microsoft Dynamics
                        - Figma
                        - Docusign
                        - Timely
                        - Integrate
                        - OnSite
                        - SPENT
                        - Ubuntu
                        - Effective
                        - Artificial Intelligence
                        - Boost
                        - Lifecycle
                        - Machine Learning
                        - Streamline
                        - Node
                        - Matplotlib
                        - HubSpot CRM
                        - IBM
                        - 401K
                        - Outlook
                        - Intel
                        - Clarity
                        - Drift
                        - REP
                        - Windows 10
                        - Turtl
                        - Ml
                        - Onboard
                        - Data Science
                        - Flourish
                        - Pytorch
                        - AWS
                        - Teams
                        - Insights
                        - Microsoft Exchange
                        - Ifrs
                        - ACT
                        - CPL
                        - Pertinent
                        - Community
                        - Java EE
                        - WorkFLOW
                        - Form
                        - Prospect
                        - Sandbox
                        - R
                        - Symantec
                        - Gauge
                        - Amazon
                        - Photoshop
                        type: Privately Held
                        domain: cognism.com
                        industry:
                        - Computer Software
                        revenue: 67000000
                        linkedinUrl: https://www.linkedin.com/company/cognism
                        website: cognism.com
                        founded: 2013
                        lastConfirmed: 1677741025000
                        naics:
                        - '51'
                        - '5182'
                        sic:
                        - '73'
                        - '737'
                        shortDescription: Cognism is a B2B sales acceleration software company that provides
                          a marketing and sales acceleration solution.
                        description: "Cognism is a leader in international sales intelligence, setting\
                          \ a new standard for data quality and compliance, trusted by 1800+ revenue teams\
                          \ worldwide.\n\nCognism helps businesses find, engage and close their dream\
                          \ prospects by providing premium company and contact information, including\
                          \ firmographics, technographics, sales trigger events, intent data, verified\
                          \ business emails and phone-verified mobile numbers. \n\nNext level GDPR & CCPA\
                          \ compliance, combined with innovative technology and integrations with leading\
                          \ CRM and sales engagement partners, make Cognism the number one choice for\
                          \ businesses looking to create a predictable pipeline, find their next best\
                          \ business opportunity and overcome global compliance barriers."
                      jobTitle: Chief Innovation Officer
                      lastName: Buljat
                      firstName: Stjepan
                      fullName: Stjepan Buljat
                      id: 34d633b7-41ea-3ac7-a280-431d71fd77eb
                      privacyNotificationSent: true
                      previousAccounts:
                      - name: ETNA d.o.o.
                        end: March 2016
                        title: Product Development Manager
                        start: September 2013
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: R&D Team Leader
                        start: December 2008
                      - name: SRCE
                        end: October 2005
                        title: Researcher
                        start: February 2005
                      - name: Cognism
                        end: September 2023
                        title: Group CTO And Co-Founder
                        start: March 2016
                      - name: ETNA d.o.o.
                        end: September 2013
                        title: IT Architect
                        start: January 2006
                      skills:
                      - Servlets
                      - Akka
                      - Apache
                      - Message Queue
                      - Websphere
                      - WebSphere MQ
                      - UML
                      - Cloud Computing
                      - JPA
                      - Java
                      - Glassfish
                      - Eclipse
                      - Mac OS X
                      - Blackberry
                      - VisualAge
                      - MySQL
                      - Db4o
                      - EJB
                      - iPhone
                      - MQ
                      - Framework Design
                      - Tomcat
                      - "WebSphere Application Server\n          \n\n        \n          WebSphere Application\
                        \ Server"
                      - REST
                      - Groovy
                      - Smalltalk
                      - Django
                      - Ant
                      - JMS
                      - Play! Framework
                      - Scala
                      - JBoss Application Server
                      - PostgreSQL
                      - JDBC
                      - Swing
                      - JMX
                      - Maven
                      - spray-io
                      - pureQuery
                      - DB2
                      - Amazon Web Services
                      - Git
                      - Java Enterprise Edition
                      - SQL
                      - Problem Solving
                      - JSF
                      - J2EE
                      - Transaction Processing
                      - JUnit
                      - Jasper Reports
                      linkedinUrl: https://www.linkedin.com/in/stjepanbuljat
                      email:
                        address: stjepan.buljat@cognism.com
                        quality: HIGH_PLUS
                        sha256: 8196f25443a02b758c7fbd4b5c0ce86c71eadda92f49709eb5e2e3515d586929
                      education:
                      - start: '2013'
                        end: '2013'
                        school: Certified ScrumMaster Training
                        degree: Certified ScrumMaster, Project Management
                      - start: '2005'
                        end: '2005'
                        school: Cisco Certified Network Associate program
                        degree: Computer Systems Networking and Telecommunications
                      - start: '2000'
                        end: '2005'
                        school: FER
                        degree: Master of Science in Computing (mag.ing.comp), Computing
                      - start: '2007'
                        end: '2012'
                        school: Faculty of Economics & Business Zagreb
                        degree: MBA, Economics
                      country: Croatia
                      jobLeaveEvent:
                      - date: 31.08.2023
                        from:
                          name: Cognism
                          title: Group CTO And Co-Founder
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      jobJoinEvent:
                      - date: 01.09.2023
                        from:
                          name: university of zadar
                          title: Computer Science Teaching Assistant
                        to:
                          name: cognism
                          title: Chief Innovation Officer
                      positionStartDate: September 2023
                      jobFunction:
                      - BUSINESS
                      - OVERSIGHT
                      managementLevel: Executive-Level
                      lastConfirmed: 1714687499208
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViO2IxMjBjOTdhLTlhNTItM2E3Zi1iNzNiLTg3MGUzYjQ0M2MxOTtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY=
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/account/redeem:
    post:
      operationId: redeemAccounts
      summary: Redeem accounts by ID
      description: Retrieve full company records for the account IDs returned by the Search or Enrich
        API. Account redemption does NOT consume Credits.
      tags:
      - Redeem
      parameters:
      - name: mergePhonesAndLocations
        in: query
        required: false
        description: Merge phone numbers and locations into consolidated arrays.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemRequest'
            examples:
              twoAccountIds:
                summary: Redeem Accounts by IDs (collection example)
                value:
                  redeemIds:
                  - e53fa4ed-cc99-385c-b431-38fd6a6a88e0
                  - efc6d975-8599-38ab-8cfe-e1c42ac16dc6
      responses:
        '200':
          description: Full account records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRedeemResponse'
              examples:
                RedeemAdvancedEntitlement:
                  summary: Redeem Advanced Entitlement
                  value:
                    total: 2
                    result:
                    - id: e53fa4ed-cc99-385c-b431-38fd6a6a88e0
                      name: Mailtastic
                      domain: mailtastic.com
                      industries:
                      - Marketing and Advertising
                      description: Welcome to Mailtastic! Do you know that your clients, contacts and
                        potential customers see your email signature more than they actually see your
                        website or social media accounts? The marketing potential of your email signature
                        is therefore a huge asset that you can use to create diverse marketing campaigns
                        which you share daily as you and your team send your email messages. This is a
                        great marketing goldmine! Mailtastic allows you to centrally manage your employees'
                        email signatures and extend them with marketing banners to transform daily email
                        traffic into a powerful marketing channel. The success of each campaign can be
                        evaluated in the dashboard by means of clicks, impressions and click-rate. At
                        Mailtastic we help you explore the full marketing potential of your email signature
                        to further diversify your marketing efforts and reach new potential customers.
                        Get in touch and we will be happy to show you how it all works!
                      shortDescription: Mailtastic is a solution that allows you to show and analyze marketing
                        messages in your company's e-mail signatures.
                      founded: 2015
                      website: www.mailtastic.com
                      linkedinUrl: https://www.linkedin.com/company/mailtastic
                      revenue: 60953000
                      sizeFrom: 11
                      sizeTo: 50
                      technologies:
                      - GDPR
                      - Mailtastic
                      - SaaS
                      - Ai
                      - MailChimp
                      - Outbound
                      - ZipRecruiter
                      - THINK
                      - AngularJS
                      - MySQL
                      - Salesforce
                      - Microsoft Dynamics
                      - Cognism
                      - Hubspot
                      - Google Apps for Business
                      - Linkedin
                      - Google
                      - Microsoft Office
                      - Consensus
                      - SEO
                      - Microsoft
                      - Prospect
                      type: Privately Held
                      officePhoneNumbers:
                      - number: '+4961316338658'
                        score: 20
                        dnc: false
                        label: office
                      locations:
                      - type: hq
                        country: Germany
                        state: Rheinland-pfalz
                        city: Mainz
                        zip: '55116'
                        street: Große Bleiche 10, 55116 Mainz, Germany
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      domain: cognism.com
                      industries:
                      - Computer Software
                      description: 'Cognism is the smart all-in-one marketing and sales acceleration solution.
                        We provide organizations a GDPR compliant way to prospect leads and enrich data. '
                      shortDescription: Cognism is a B2B sales acceleration software company that provides
                        a marketing and sales acceleration solution.
                      founded: 2015
                      website: cognism.com
                      linkedinUrl: https://www.linkedin.com/company/cognism/
                      revenue: 17000000
                      naics:
                      - '5182'
                      - '51'
                      sic:
                      - '737'
                      - '73'
                      sizeFrom: 201
                      sizeTo: 500
                      tech:
                      - Replicated
                      - Salesforce
                      - Salesloft
                      - Lifecycle
                      - Docker
                      - GDPR
                      - Summit
                      - Matplotlib
                      - AccuRate
                      - MongoDB
                      - Cadence
                      - Digital Marketing
                      - Artificial Intelligence
                      - Intercom
                      - Java EE
                      - Yield
                      - Node
                      - Retargeting
                      - Github
                      - Cognism
                      - Boost
                      - Ai
                      - Onboard
                      - LiNK
                      - IBM
                      - Sandbox
                      - PostgreSQL
                      - Office 365 Mail
                      - Deep Learning
                      - Websphere
                      - Gensim
                      - Achievers
                      - Hubspot
                      - Node.js
                      type: Public Company
                      officePhoneNumbers:
                      - number: '+16469719264'
                        score: 20
                        dnc: false
                        label: COMPANY_SWITCHBOARD
                      hqPhoneNumbers:
                      - number: '442038580822'
                        score: 20
                        dnc: false
                        label: COMPANY_SWITCHBOARD
                      location:
                      - type: hq
                        country: United Kingdom
                        state: England
                        city: London
                        street: 92 Albert Embankment
                      - type: office
                        country: United States
                        state: New York
                        city: New York
                        zip: '10010'
                        street: 43 W 23rd St, New York, NY 10010, USA
                      companyHiring:
                      - employer: Cognism
                        jobTitle: Product-Led Growth Marketing Manager
                        department: Marketing
                        jobDate: '2021-09-14'
                        country: United Kingdom
                        state: pariatur amet
                        city: do anim
                        url: https://independentjobs.independent.co.uk/job/27635997/product-led-growth-marketing-manager/
                        internship: false
                        workFromHome: false
                RedeemStandardEntitlement:
                  summary: Redeem Standard Entitlement
                  value:
                    total: 2
                    result:
                    - id: e53fa4ed-cc99-385c-b431-38fd6a6a88e0
                      name: Mailtastic
                      domain: mailtastic.com
                      industries:
                      - Marketing and Advertising
                      description: Welcome to Mailtastic! Do you know that your clients, contacts and
                        potential customers see your email signature more than they actually see your
                        website or social media accounts? The marketing potential of your email signature
                        is therefore a huge asset that you can use to create diverse marketing campaigns
                        which you share daily as you and your team send your email messages. This is a
                        great marketing goldmine! Mailtastic allows you to centrally manage your employees'
                        email signatures and extend them with marketing banners to transform daily email
                        traffic into a powerful marketing channel. The success of each campaign can be
                        evaluated in the dashboard by means of clicks, impressions and click-rate. At
                        Mailtastic we help you explore the full marketing potential of your email signature
                        to further diversify your marketing efforts and reach new potential customers.
                        Get in touch and we will be happy to show you how it all works!
                      shortDescription: Mailtastic is a solution that allows you to show and analyze marketing
                        messages in your company's e-mail signatures.
                      founded: 2015
                      website: www.mailtastic.com
                      linkedinUrl: https://www.linkedin.com/company/mailtastic
                      revenue: 60953000
                      sizeFrom: 11
                      sizeTo: 50
                      technologies:
                      - GDPR
                      - Mailtastic
                      - SaaS
                      - Ai
                      - MailChimp
                      - Outbound
                      - ZipRecruiter
                      - THINK
                      - AngularJS
                      - MySQL
                      - Salesforce
                      - Microsoft Dynamics
                      - Cognism
                      - Hubspot
                      - Google Apps for Business
                      - Linkedin
                      - Google
                      - Microsoft Office
                      - Consensus
                      - SEO
                      - Microsoft
                      - Prospect
                      type: Privately Held
                      location:
                      - type: hq
                        country: Germany
                        state: Rheinland-pfalz
                        city: Mainz
                        zip: '55116'
                        street: Große Bleiche 10, 55116 Mainz, Germany
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      domain: cognism.com
                      industries:
                      - Computer Software
                      description: 'Cognism is the smart all-in-one marketing and sales acceleration solution.
                        We provide organizations a GDPR compliant way to prospect leads and enrich data. '
                      shortDescription: Cognism is a B2B sales acceleration software company that provides
                        a marketing and sales acceleration solution.
                      founded: 2015
                      website: cognism.com
                      linkedinUrl: https://www.linkedin.com/company/cognism/
                      revenue: 17000000
                      naics:
                      - '5182'
                      - '51'
                      sic:
                      - '737'
                      - '73'
                      sizeFrom: 201
                      sizeTo: 500
                      tech:
                      - Replicated
                      - Salesforce
                      - Salesloft
                      - Lifecycle
                      - Docker
                      - GDPR
                      - Summit
                      - Matplotlib
                      - AccuRate
                      - MongoDB
                      - Cadence
                      - Digital Marketing
                      - Artificial Intelligence
                      - Intercom
                      - Java EE
                      - Yield
                      - Node
                      - Retargeting
                      - Github
                      - Cognism
                      - Boost
                      - Ai
                      - Onboard
                      - LiNK
                      - IBM
                      - Sandbox
                      - PostgreSQL
                      - Office 365 Mail
                      - Deep Learning
                      - Websphere
                      - Gensim
                      - Achievers
                      - Hubspot
                      - Node.js
                      type: Public Company
                      locations:
                      - type: hq
                        country: United Kingdom
                        state: England
                        city: London
                        street: 92 Albert Embankment
                      - type: office
                        country: United States
                        state: New York
                        city: New York
                        zip: '10010'
                        street: 43 W 23rd St, New York, NY 10010, USA
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/contact/enrich:
    post:
      operationId: enrichContact
      summary: Enrich a contact
      description: Find the best matching Cognism contact for a record you already hold. Returns a preview
        plus a `matchScore` and `redeemId`. Enrich does not consume Credits. Default minMatchScore is
        30.
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactEnrichRequest'
            examples:
              byEmail:
                summary: Enrich Contact (collection example)
                value:
                  email: stjepan.buljat@cognism.com
      responses:
        '200':
          description: Best matching contact preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichContactResponse'
              examples:
                EnrichContactbyemailAdvancedEntitlement:
                  summary: Enrich Contact by email Advanced Entitlement
                  value:
                    matchScore: 42
                    results:
                    - id: 7351d07c-9118-403b-a7c1-d6510cc0c378
                      fullName: Stjepan Buljat
                      firstName: Stjepan
                      lastName: Buljat
                      jobTitle: CTO
                      hasManagementLevel: true
                      hasSeniority: true
                      hasJobFunction: true
                      hasPositionStartDate: true
                      hasEmail: true
                      hasMobilePhoneNumbers: false
                      hasDirectPhoneNumbers: false
                      hasJobJoinEvent: false
                      hasJobLeaveEvent: false
                      hasLocationMoveEvent: false
                      hasCountry: true
                      hasState: false
                      hasCity: true
                      hasZip: false
                      hasStreet: true
                      hasLinkedinUrl: true
                      hasEducation: true
                      hasPreviousAccounts: true
                      hasSkills: true
                      hasLastConfirmed: true
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViOzhkMDlhZGJhLTczMDYtMzhlMS1iODRiLWU4NmU2OWU3MGU3YjtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY
                      account:
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        name: Cognism
                        hasDomain: true
                        hasIndustries: true
                        hasDescription: true
                        hasShortDescription: true
                        hasFounded: true
                        hasWebsite: true
                        hasLinkedinUrl: true
                        hasRevenue: true
                        hasSic: true
                        hasIsic: false
                        hasNaics: true
                        hasHeadcount: true
                        hasSize: true
                        hasTechnologies: true
                        hasType: true
                        hasLocation: true
                        hasOfficePhoneNumbers: false
                        hasHqPhoneNumbers: true
                        hasHiringEvent: true
                EnrichContactbylinkedinUrlAdvancedEntitlement:
                  summary: Enrich Contact by linkedinUrl Advanced Entitlement
                  value:
                    matchScore: 45
                    results:
                    - id: 7351d07c-9118-403b-a7c1-d6510cc0c378
                      fullName: Stjepan Buljat
                      firstName: Stjepan
                      lastName: Buljat
                      jobTitle: CTO
                      hasManagementLevel: true
                      hasSeniority: true
                      hasJobFunction: true
                      hasPositionStartDate: true
                      hasEmail: true
                      hasMobilePhoneNumbers: false
                      hasDirectPhoneNumbers: false
                      hasJobJoinEvent: false
                      hasJobLeaveEvent: false
                      hasLocationMoveEvent: false
                      hasCountry: true
                      hasState: false
                      hasCity: true
                      hasZip: false
                      hasStreet: true
                      hasLinkedinUrl: true
                      hasEducation: true
                      hasPreviousAccounts: true
                      hasSkills: true
                      hasLastConfirmed: true
                      redeemId: MzRkNjMzYjctNDFlYS0zYWM3LWEyODAtNDMxZDcxZmQ3N2ViOzhkMDlhZGJhLTczMDYtMzhlMS1iODRiLWU4NmU2OWU3MGU3YjtlZmM2ZDk3NS04NTk5LTM4YWItOGNmZS1lMWM0MmFjMTZkYzY
                      account:
                        id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                        name: Cognism
                        hasDomain: true
                        hasIndustries: true
                        hasDescription: true
                        hasShortDescription: true
                        hasFounded: true
                        hasWebsite: true
                        hasLinkedinUrl: true
                        hasRevenue: true
                        hasSic: true
                        hasIsic: false
                        hasNaics: true
                        hasSize: true
                        hasTechnologies: true
                        hasType: true
                        hasLocation: true
                        hasOfficePhoneNumbers: false
                        hasHqPhoneNumbers: true
                        hasHiringEvent: true
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/account/enrich:
    post:
      operationId: enrichAccount
      summary: Enrich an account
      description: Find the best matching Cognism company for a record you already hold. Returns a preview
        plus a `matchScore`. Enrich does not consume Credits. Default minMatchScore is 40.
      tags:
      - Enrich
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEnrichRequest'
            examples:
              byWebsite:
                summary: Enrich Account (collection example)
                value:
                  website: www.cognism.com
      responses:
        '200':
          description: Best matching account preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichAccountResponse'
              examples:
                EnrichAccountbywebsiteAdvancedEntitlement:
                  summary: Enrich Account by website Advanced Entitlement
                  value:
                    matchScore: 46
                    results:
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      hasDomain: true
                      hasIndustries: true
                      hasDescription: true
                      hasShortDescription: true
                      hasFounded: true
                      hasWebsite: true
                      hasLinkedinUrl: true
                      hasRevenue: true
                      hasSic: true
                      hasIsic: false
                      hasNaics: true
                      hasHeadcount: true
                      hasSize: true
                      hasTechnologies: true
                      hasType: true
                      hasLocation: true
                      hasOfficePhoneNumbers: false
                      hasHqPhoneNumbers: true
                      hasHiringEvent: false
                EnrichAccountbydomainAdvancedEntitlement:
                  summary: Enrich Account by domain Advanced Entitlement
                  value:
                    matchScore: 45
                    results:
                    - id: efc6d975-8599-38ab-8cfe-e1c42ac16dc6
                      name: Cognism
                      hasDomain: true
                      hasIndustries: true
                      hasDescription: true
                      hasShortDescription: true
                      hasFounded: true
                      hasWebsite: true
                      hasLinkedinUrl: true
                      hasRevenue: true
                      hasSic: true
                      hasIsic: false
                      hasNaics: true
                      hasHeadcount: true
                      hasSize: true
                      hasTechnologies: true
                      hasType: true
                      hasLocation: true
                      hasOfficePhoneNumbers: false
                      hasHqPhoneNumbers: true
                      hasHiringEvent: false
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/entitlement/contactEntitlementSubscription:
    get:
      operationId: getContactEntitlement
      summary: Get contact entitlement details
      description: Return the contact fields your organisation is entitled to receive from the Redeem
        API. Entitlements are configured by the Cognism Provisioning team.
      tags:
      - Entitlement
      responses:
        '200':
          description: Contact entitlement map.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactEntitlement'
              examples:
                ContactAdvancedEntitlement:
                  summary: Contact Advanced Entitlement
                  value:
                    contact Entitlement:
                      city: false
                      lastConfirmed: true
                      zip: true
                      directPhoneNumbers: false
                      mobilePhoneNumbers: false
                      privacyNotificationSent: false
                      locationMoveEvent: false
                      lastName: true
                      education: true
                      jobLeaveEvent: false
                      region: true
                      managementLevel: true
                      jobTitle: true
                      email: true
                      positionStartDate: true
                      state: true
                      officePhoneNumbers: true
                      fullName: true
                      searchOptions: true
                      country: true
                      firstName: true
                      id: true
                      jobFunction: true
                      previousAccount: true
                      hqPhoneNumbers: false
                      jobJoinEvent: false
                      linkedinUrl: true
                      skills: true
                      seniority: true
                      street: true
                      account: true
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/entitlement/accountEntitlementSubscription:
    get:
      operationId: getAccountEntitlement
      summary: Get account entitlement details
      description: Return the account fields your organisation is entitled to receive from the Redeem
        API.
      tags:
      - Entitlement
      responses:
        '200':
          description: Account entitlement map.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntitlement'
              examples:
                AccountAdvancedEntitlement:
                  summary: Account Advanced Entitlement
                  value:
                    account Entitlement:
                      website: true
                      name: true
                      location: true
                      founded: true
                      shortDescription: true
                      industry: true
                      acquisitionEvent: false
                      id: true
                      appearanceEvent: false
                      hiringEvent: false
                      linkedinUrl: true
                      type: true
                      sic: true
                      accountSearchOptions: true
                      headcount: true
                      size: true
                      fundingEvent: false
                      description: true
                      naics: true
                      officePhoneNumbers: false
                      domain: true
                      ipoEvent: false
                      technology: true
                      revenue: true
                      isic: true
                      hqPhoneNumbers: false
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/technologiesSearch:
    get:
      operationId: listTechnologies
      summary: List supported technologies
      description: Reference list of technology values accepted by the `technologies` search filter. Use
        the optional `search` parameter to filter the list.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
      parameters:
      - name: search
        in: query
        required: false
        description: Substring to match technology names against.
        schema:
          type: string
      - name: indexSize
        in: query
        required: false
        description: Records per page.
        schema:
          type: integer
          default: 20
      - name: lastReturnedKey
        in: query
        required: false
        description: Forward-only paging cursor.
        schema:
          type: string
  /api/search/filter/managementLevels:
    get:
      operationId: listManagementLevels
      summary: List management levels
      description: Reference list of values accepted by the `managementLevel` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/companySizes:
    get:
      operationId: listCompanySizes
      summary: List company sizes
      description: Reference list of company size bands accepted by the account size filters.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/industries:
    get:
      operationId: listIndustries
      summary: List industries
      description: Reference list of values accepted by the `industries` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/jobFunctions:
    get:
      operationId: listJobFunctions
      summary: List job functions
      description: Reference list of values accepted by the `jobFunctions` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/regions:
    get:
      operationId: listRegions
      summary: List world regions
      description: Reference list of values accepted by the `regions` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/countries:
    get:
      operationId: listCountries
      summary: List countries
      description: Reference list of values accepted by the `countries` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/states:
    get:
      operationId: listStates
      summary: List states
      description: Reference list of values accepted by the `states` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/sic:
    get:
      operationId: listSicCodes
      summary: List SIC codes
      description: Reference list of SIC codes accepted by the `sic` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/isic:
    get:
      operationId: listIsicCodes
      summary: List ISIC codes
      description: Reference list of ISIC codes accepted by the `isic` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/naics:
    get:
      operationId: listNaicsCodes
      summary: List NAICS codes
      description: Reference list of NAICS codes accepted by the `naics` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/skills:
    get:
      operationId: listSkills
      summary: List skills
      description: Reference list of values accepted by the `skills` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/companyTypes:
    get:
      operationId: listCompanyTypes
      summary: List company types
      description: Reference list of values accepted by the `types` account search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/filter/seniority:
    get:
      operationId: listSeniorityLevels
      summary: List seniority levels
      description: Reference list of values accepted by the `seniority` search filter.
      tags:
      - Filter
      responses:
        '200':
          description: Reference values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValues'
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/contact/optOut:
    get:
      operationId: listOptOutContacts
      summary: List opt-out contacts
      description: Return the contacts that have opted out of Cognism data processing. Include `pageKey`
        from the previous response to request the next page.
      tags:
      - Compliance
      parameters:
      - name: pageSize
        in: query
        required: false
        description: Records per page.
        schema:
          type: integer
          default: 100
      - name: pageKey
        in: query
        required: false
        description: Paging cursor returned with every response.
        schema:
          type: string
      responses:
        '200':
          description: Opt-out records.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/contact/optOut/email/{email}:
    get:
      operationId: getOptOutByEmail
      summary: Check opt-out status by email
      description: Look up whether a specific email address is on the Cognism opt-out list.
      tags:
      - Compliance
      parameters:
      - name: email
        in: path
        required: true
        description: Email address to check.
        schema:
          type: string
          format: email
      responses:
        '200':
          description: Opt-out record for the email address.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
  /api/search/contact/optOut/id/{id}:
    get:
      operationId: getOptOutById
      summary: Check opt-out status by redeem ID
      description: Look up whether a specific contact (by redeem ID) is on the Cognism opt-out list.
      tags:
      - Compliance
      parameters:
      - name: id
        in: path
        required: true
        description: Contact redeem ID.
        schema:
          type: string
      responses:
        '200':
          description: Opt-out record for the contact.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': *id001
        '401': *id002
        '404': *id003
        '429': *id004
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token issued in the Cognism app under Settings > Tokens and API. Sent as `Authorization:
        Bearer <token>`. Tokens have a time-to-live of 6 months.'
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Alternative to the Authorization header. Cognism documents it but recommends the header
        instead, as the query string is less secure.
  schemas:
    ContactSearchRequest:
      type: object
      description: Filter set for the Search API contact endpoint. Every field is optional; filters combine
        with AND unless the field documents otherwise.
      properties:
        ids:
          type: array
          items:
            type: string
          description: Contact ids. Can be either ids or redeemIds. Mix of ids and redeem ids in the single
            request is not supported
        excludeIds:
          type: array
          items:
            type: string
          description: Exclude contact ids. Can be either ids or redeemIds. Mix of ids and redeem ids
            in the single request is not supported
        fullName:
          type: string
          description: Contact name
        firstName:
          type: string
          description: Contact first name
        lastName:
          type: string
          description: Contact last name
        jobTitles:
          type: array
          items:
            type: string
          description: Contact current position job titles
        excludeJobTitles:
          type: array
          items:
            type: string
          description: Contact current position excluded job titles
        seniority:
          type: array
          items:
            type: string
            enum:
            - Manager
            - Director
            - Partner
            - CXO
            - Owner
            - VP
          description: 'Contact current position seniority. Allowed values: Manager, Director, Partner,
            CXO, Owner, VP'
        jobFunctions:
          type: array
          items:
            type: string
            enum:
            - Oversight
            - Technology
            - Operations
            - Sales
            - Marketing
            - Client Success
            - HR
            - Accounting
            - Business
            - Production
          description: 'Contact current position job functions. Allowed values: Oversight, Technology,
            Operations, Sales, Marketing, Client Success, HR, Accounting, Business, Production'
        managementLevel:
          type: array
          items:
            type: string
            enum:
            - Entry-Level
            - Team-Lead
            - Experienced Staff
            - Executive-Level
            - Senior Leadership
            - Middle-Management
            - CxO
          description: 'Contact current position management levels. Allowed values: Entry-Level, Team-Lead,
            Experienced Staff, Executive-Level, Senior Leadership, Middle-Management, CxO'
        regions:
          type: array
          items:
            type: string
          description: Contact location world regions. Check allowed values Regions
        countries:
          type: array
          items:
            type: string
          description: Contact location countries. Check allowed values Countries
        excludeCountries:
          type: array
          items:
            type: string
          description: Contact location excluded countries. Check allowed values Countries
        states:
          type: array
          items:
            type: string
          description: Contact location states. Check allowed values States
        excludeStates:
          type: array
          items:
            type: string
          description: Contact location excluded states. Check allowed values States
        cities:
          type: array
          items:
            type: string
          description: Contact location cities
        excludeCities:
          type: array
          items:
            type: string
          description: Contact location excluded cities
        zip:
          type: array
          items:
            type: string
          description: Contact location zip codes
        locations:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
                description: Contact location country
              city:
                type: string
                description: Contact location city
              state:
                type: string
                description: Contact location state
              zip:
                type: string
                description: Contact location ZIP or postal code
          description: Array of object containing country, city, state and zip codes. OR logic is applied
            between objects
        skills:
          type: array
          items:
            type: string
          description: Contact skills. Check allowed values Skills
        excludeSkills:
          type: array
          items:
            type: string
          description: Contact excluded skills. Check allowed values Skills
        linkedinUrl:
          type: string
          description: Contact LinkedIn URL
        education:
          type: object
          properties:
            schools:
              type: array
              items:
                type: string
              description: Contact education school name
            degrees:
              type: array
              items:
                type: string
              description: Contact education degree name
        mobilePhoneNumbers:
          type: object
          properties:
            medium:
              type: boolean
              description: Search contacts with medium quality mobile phone numbers
            high:
              type: boolean
              description: Search contacts with high quality mobile phone numbers
            highPlus:
              type: boolean
              description: Search contacts with highPlus quality mobile phone numbers
        directPhoneNumbers:
          type: object
          properties:
            medium:
              type: boolean
              description: Search contacts with medium quality direct phone numbers
            high:
              type: boolean
              description: Search contacts with high quality direct phone numbers
            highPlus:
              type: boolean
              description: Search contacts with highPlus quality direct phone numbers
        emailQuality:
          type: object
          properties:
            medium:
              type: boolean
              description: Search contacts with medium quality email
            high:
              type: boolean
              description: Search contacts with high quality email
            highPlus:
              type: boolean
              description: Search contacts with highPlus quality email
        sha256:
          type: array
          items:
            type: string
          description: Search contacts by sha256 hashed email
        lastConfirmed:
          type: object
          properties:
            from:
              type: integer
              description: Contact profile time updated range from. (Unix timestamp in milliseconds)
            to:
              type: integer
              description: Contact profile time updated range to. (Unix timestamp in milliseconds)
        account:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
              description: Contact's current account ids.
            excludeIds:
              type: array
              items:
                type: string
              description: Contact's current account exclude ids.
            names:
              type: array
              items:
                type: string
              description: Contact's current account names
            excludeNames:
              type: array
              items:
                type: string
              description: Contact's current account exclude names
            domains:
              type: array
              items:
                type: string
              description: Contact's current account domains
            excludeDomains:
              type: array
              items:
                type: string
              description: Contact's current account exclude domains
            websites:
              type: array
              items:
                type: string
              description: Contact's current account websites
            description:
              type: string
              description: Contact's current account description (keyword)
            excludeDescription:
              type: string
              description: Contact's current account excluded description (keyword)
            shortDescription:
              type: string
              description: Contact's current account short description (keyword)
            keywords:
              type: array
              items:
                type: string
              description: Contact's current account keywords
            revenue:
              type: object
              properties:
                from:
                  type: integer
                  description: Contact's current account revenue range from
                to:
                  type: integer
                  description: Contact's current account revenue range to
            founded:
              type: object
              properties:
                from:
                  type: integer
                  description: Contact's current account founded year range from
                fo:
                  type: integer
                  description: Contact's current account founded year range to
            types:
              type: array
              items:
                type: string
                enum:
                - Public Company
                - Educational
                - Educational Institution
                - Government Agency
                - Partnership
                - Privately Held
                - Self-Employed
                - non profit
[...]
